/* #030303 */


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



:root{
    font-size: 20px;
    --bgColor: #030303;
    --liSize: 2rem;
    --pSize: 0.8rem;
    --hSize:0.8rem;
    --clr1: #808080;
    --clr2: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    justify-content:center;
}

body{
    overflow: hidden;
}
.container{
    display: flex;
    min-height: 100vh;
    background-color: var(--bgColor);
    flex-direction: column;
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0.7rem 1.2rem;

}

.leftNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftNav img{
    width: 4rem;
}


.centerNav ul{
 display: flex;
 align-items: center;
 justify-content: center;

}
.centerNav ul li{
    list-style: none;

}
.centerNav ul li a{
    text-decoration: none;
    color: var(--clr1);
    font-weight: 700;
    padding: 0 1.2rem;
}
.centerNav ul li a:hover{
    color: white;
}
.centerNav ul li a i{
    padding: 0  1rem 0 0;
}
.rightNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightNav img{
    width: 30px;
}
.rightNav a i {
    color: white;
    padding: 0 0.5rem;
    font-size: var(--pSize);
    font-weight: 0;
}



main{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 3rem;

}

.leftSection{   
    max-width: 40rem;
    display: flex;
    align-items: center;
    margin: 2rem 2rem 0 0;
}
.leftSection img{
    width:100%;
}
#songContainer{
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color:  var(--clr1) black;
    scrollbar-width: 20px;
    position: relative;
}

.buttons{
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
.buttons button{
    width: 100%;
    padding: 0.7rem 1rem;
    font-size: var(--pSize);
    text-transform: uppercase;
    color: var(--clr2);
    background-color: var(--bgColor);
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.active{
    border-bottom: 1px solid white !important;
}
.song{
    color: white;
    border-top: 0.5px solid var(--clr1);
    border-bottom: 0.5px solid var(--clr1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.song img{
    width: 50px;
    height: 30px;
    margin-right: 10px;
}
.nameInfo{
    width: 100%;
}
.songName{
    font-size: var(--hSize);
    font-weight: 700;
}
.songInfo{
    font-size: var(--pSize);
    color: var(--clr1);
}
.gif{
    opacity: 0;
    transition: 0.3s all;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: #212121;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 70px;
    color: var(--clr2);
}



#seekBar::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 15px; 
    width: 15px;
    border-radius: 14px;
    background: #ff0000; 
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
} 



#seekBar {
    position: absolute;
    -webkit-appearance: none;
    cursor: pointer;
    height: 3px;
    top: 0px;
    left: 0;
    transitionx: 0.1s ease-in;
    width: 100vw;
    background-color: #212121;
    background:linear-gradient(to right,
            #cc181e 0%, #cc181e 0%,
            #444 0%, #444 100%);
  } 

  #volumeBar{
    width: 100px;
    -webkit-appearance: none;
    cursor: pointer;
    height: 3px;
    
  }

  #volumeBar::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
     height: 15px; 
    width: 15px;
    background-color: red;
    border-radius: 14px; 
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  } 

.icon{
    font-size: var(--pSize);
    width: 28px;
    height: 28px;
    margin: 0 15px;
    color: #808080;
    cursor: pointer;
}

#pauseBtn{
    width: 50px;
    height: 50px;
    margin: 0 0;
}

.leftFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
#songTime{
    display: flex;
}
.leftFooter{
    font-size: var(--pSize);
    color: var(--clr1);
}



.centerFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.centerFooter .songInfo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.centerFooter .songInfo ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pSize);
}
.centerFooter .songInfo ul li{
    margin: 0  0.5rem 0 0;
    list-style-type: none;
}
.centerFooter img{
    margin: 0 20px;
    width: 70px;
}

.rightFooter{
    display: flex;
    align-items: center;
}

svg g{
    fill: white;
}
#toggleButtons{
    transform: rotate(90deg);
}



@media screen and (max-width: 1280px) {
    :root{
        font-size: 15px;
    }
    .songInfo ul li:nth-child(2), li:nth-child(3){
        display: none;
    }
}

@media screen and (max-width: 985px){
    :root{
        font-size: 12px;
    }
    .centerFooter img{
        margin: 0 10px;
    }
    .icon{
        margin: 0 6px;
    }
}

@media screen and (max-width:775px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    .leftSection{
        margin: 0 0 3rem 0;
    }
    .icon{
        width: 20px;
    }
    #pauseBtn{
        width: 25px;
        height: 31px;
    }
    footer{
        justify-content: inherit;
    }
    .rightFooter{
        position: absolute;
        right: 0;
        /* background-color: #212121; */
    }
    .hidden{
        visibility:hidden;
    }
    #songContainer{
        width: 100%;
    }
    
}

@media screen and (max-width:500px) {
    .songCover{
        display: none;
    }
    footer{
        justify-content: space-evenly;
    }
    #songTime{
        display: none;
    }
}

